/* #root {
  margin: 2rem, 0;
  text-align: center;
} */

#root {
  font-family: helvetica;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(231, 231, 229);
}

table {
  border-collapse: separate;
  border-spacing: 20px 0;
}

td,
th {
  padding: 5px 5px;
}

Link,
a {
  text-decoration: none;
  color: whitesmoke;
}

.loader {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: 1;
}
